<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812946540656-drahctn4qpa91oehtd33i982o3tvdvl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812946540656-drahctn4qpa91oehtd33i982o3tvdvl3</string>
	<key>API_KEY</key>
	<string>AIzaSyBn9zul_Z7fylOStbQ5Ie6axl_vO5QrGes</string>
	<key>GCM_SENDER_ID</key>
	<string>812946540656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lawployApp</string>
	<key>PROJECT_ID</key>
	<string>lawploy-c677e</string>
	<key>STORAGE_BUCKET</key>
	<string>lawploy-c677e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812946540656:ios:ab6f4abae5802c832a8cb5</string>
</dict>
</plist>